{% extends 'base.html.twig' %}

{% block body %}
  <body class="index">
    <div class="container">
      <h1>Welcome To MyMusic</h1>
      <h4>Explore your taste in music here!</h4>
     
    </div>
    <div>
      <button class="buttons"><a href="/music/login" id="login-btn">Login</a></button>
    </div>
    <span>New user ? <a href="/music/register" id="reg-btn">Register now</a></span>
  </body>
{% endblock %}
