{% extends 'base.html.twig' %}


{% block title %}Logout page{% endblock %}
{% block body %}
  <div class="logout">
    <h1>You have been logged out!</h1>
    <button class="buttons"><a href="/login_page">Login again</a> </button>
  </div>
{% endblock %}