{% extends 'base.html.twig' %}
{% block title %}Reset password{% endblock %}
{% block nav %}{% endblock %}
{% block body %}
<body class="resetPasswordForm">
  <div class="wrapper">
    <form method="post" action="/newpassword" name="resetPasswordForm">
        <div>
          <label for="username"> Username</label>
          <input id="username" type="text" name="username" >
        </div>
        <div>
          <label for="password"> New Password</label>
          <input id="password" type="password" name="password" >
        </div>
        <div>
          <label for="password"> Confirm Password</label>
          <input id="password" type="password" name="conpassword" >
        </div>
        <div>
          <input type="submit" value="Submit" class="buttons" id="login-btn" name="submitBtn">
        </div>
        {% if errmsg is defined %}
          <p id="error">{{ errmsg }}</p>
        {% endif %}
        {% if succmsg is defined %}
          <p id="success">{{ succmsg }}</p>
        {% endif %}
      </form> 
    </div>
</body>
{% endblock %}