{% extends 'base.html.twig' %}
{% block title %}Reset Password{% endblock %}
{% block body %}
  <body class="forgotpassword">
    <div class="wrapper">
      <form method="post" action="/resetpassword" name="forgotPasswordForm">
        <div>
          <label for="loginName">Username</label>
          <input id="loginName" type="text" name="username">
        </div>
        <div>
          <input type="submit" value="Submit" class="buttons" id="login-btn" name="resetBtn">
        </div>
        {% if succmsg is defined %}
          <p id="success">{{ succmsg }}</p>
        {% endif %}
        {% if errmsg is defined %}
          <p id="error">{{ errmsg }}</p>
        {% endif %}
      </form> 
    </div>
    
  </body>
{% endblock %}