{% extends 'base.html.twig' %}
{% block title %}Reset Password{% endblock %}
{% block body %}
  <body class="forgotpassword">
    <div class="wrapper">
      <form method="post" action="/resetPassword" name="forgotPasswordForm">
        <div>
          <label>Username</label>
          <input id="userName" type="text" name="userName">
        </div>
        <div>
          <input type="submit" value="Submit" class="buttons" id="login-btn" name="resetBtn">
        </div>
        {% if succMsg is defined %}
          <p id="success">{{ succMsg }}</p>
        {% endif %}
        {% if errMsg is defined %}
          <p id="error">{{ errMsg }}</p>
        {% endif %}
      </form> 
    </div>
  </body>
{% endblock %}
